#bio {
    display: flex;
    color: white;
    background-color: $color-dark;
    scroll-margin-top: $header-height;

    & > div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.quote {
            background-color: $color-dark-red;
            clip-path: polygon(0 0, $diagonal-clip-path 0%, 100% 100%, 0% 100%);
            font-weight: $font-weight-light;
            font-size: 18px;
            box-shadow: inset 0 0 15px rgba(0,0,0,.5);

            ::selection {
                background-color: black;
            }
            div {
                text-align: center;
                max-width: 300px;
                width: 70%;
                line-height: 24px;
                text-shadow: 0 0 5px #000000;
            }
        }
        &.milestones {
            text-shadow: 0 0 5px #000000;
            font-weight: $font-weight-light;
            padding-bottom: 100px;

            ::selection {
                background-color: white;
                color: black;
                text-shadow: none;
            }
            h1 {
                margin: 100px 0 20px 0;
                font-weight: $font-weight-thin;
            }
            & > div > ol > li {
                display: flex;
                margin-top: 10px;

                h2 {
                    font-weight: $font-weight-regular;
                }
                h2, li {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                }
                ol {
                    margin-left: 5px;
                }
            }
        }
    }

    @media (max-width: $mobile-width) {
        display: block;
        
        & > div {
            width: 100%;
        }
    }
    @media (min-width: $giant-width) {
        & > div {
            &:first-child {
                width: 40%;
            }
            &:last-child {
                width: 60%;
            }
        }
    }
}
