#contact {
    font-weight: $font-weight-thin;
    background-color: var(--color-dark);
    color: var(--color-dark-contrast);
    font-size: 30px;
    padding-top: 20px;

    h1 {
        font-weight: $font-weight-thin;
        margin: 0;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 200px 0;

        a {
            font-size: 24px;
            text-decoration: none;
            color: var(--color-dark-contrast);
        }
    }
    @media (max-width: $mobile-width) {
        ul {
            display: block;
            text-align: center;
            padding: 70px;
            li {
                margin: 70px 0;
            }
        }
    }
}
