header {
    height: $header-height;
    background-color: var(--color-ambient);
    box-shadow: 4px 0 10px rgba(0,0,0,.5);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    a {
        flex-shrink: 1;
        color: var(--color-ambient-contrast);
        text-decoration: none;
        line-height: $header-height;
        position: relative;
        text-align: center;
        font-weight: $font-weight-light;
        display: block;
    }
    #menu-toggle, label {
        display: none;
    }
    .logo {
        font-size: 24px;
        width: 240px;
        span {
            color: red;
        }
    }
    nav {
        display: flex;
        flex-shrink: 2;
        a {
            font-size: 18px;
            width: 150px;
            flex-shrink: 2;
        }
    }
}

@media (max-width: $mobile-width) {
    header {
        .logo-container {
            display: flex;
            width: 100%;
        }
        .menu-toggle {
            display: block;
        }
        .logo {
            width: 100%;
        }
        label {
            display: block;
            color: var(--color-ambient-contrast);
            line-height: $header-height;
            padding: 0 20px;
            position: relative;
            text-align: center;
            font-weight: $font-weight-light;
        }
        nav {
            flex-shrink: 0;
            display: block;
            position: absolute;
            width: 100%;
            background-color: var(--color-ambient);
            opacity: 0;
            top: $header-height;
            pointer-events: none;
        }
    }
    header {
        #menu-toggle:checked ~ nav {
            opacity: 1;
            pointer-events: all;
        }
    }
}