header {
    height: $header-height;
    background-color: var(--color-ambient);
    box-shadow: 4px 0 10px rgba(0,0,0,.5);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    user-select: none;

    a {
        flex-shrink: 1;
        color: var(--color-ambient-contrast);
        text-decoration: none;
        line-height: $header-height;
        position: relative;
        text-align: center;
        font-weight: $font-weight-light;
        display: block;
    }
    #menu-toggle, label {
        display: none;
    }
    .logo {
        font-size: 24px;
        width: 240px;
        background-color: var(--color-ambient);
        span {
            color: red;
        }
    }
    nav {
        display: flex;
        flex-shrink: 2;
        max-width: calc(100% - 240px);
        a {
            font-size: 18px;
            width: 150px;
            flex-shrink: 2;
            outline: none;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                background-color: $color-dark-red;
                transition: .5s height;
            }
            &:hover, &:focus {
                color: white;
                transition: .5s color;

                &::before {
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    header {
        .logo-container {
            display: flex;
            width: 100%;
        }
        .menu-toggle {
            display: block;
        }
        .logo {
            width: 100%;
        }
        .menu-toggler {
            display: block;
            color: var(--color-ambient-contrast);
            background-color: var(--color-ambient);
            line-height: $header-height;
            padding: 0 20px;
            position: relative;
            text-align: center;
            font-weight: $font-weight-light;
        }
        nav {
            flex-shrink: 0;
            display: block;
            position: absolute;
            width: 100%;
            background-color: var(--color-ambient);
            opacity: 0;
            top: $header-height;
            right: 0;
            pointer-events: none;
            padding: 50px 0;

            a {
                width: 100%;
                text-align: left;
                padding-left: 30px;
                transition: .5s color;

                &::before {
                    width: 0;
                    height: 100%;
                    transition: .5s width;
                }
                &:hover::before, &:focus::before {
                    width: 100%;
                }
            }
        }
        .menu-backdrop {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.9);
            z-index: -1;
            opacity: 0;
            pointer-events: none;

            span {
                display: block;
                position: absolute;
                bottom: 20px;
                text-align: center;
                color: white;
                width: 100%;
                font-size: 18px;
                font-weight: $font-weight-light;
            }
        }
        #menu-toggle:checked ~ nav, #menu-toggle:checked ~ .menu-backdrop {
            opacity: 1;
            pointer-events: all;
            transition: .5s opacity;
        }
    }
}