#liteadmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 200px 0 #{200px - $liteadmin-feature-gap} 0;
    scroll-margin-top: $header-height;

    h1 {
        font-weight: $font-weight-light;
        font-size: 24px;
        line-height: 40px;
        margin: 0;
        height: 40px;
        color: var(--color-ambient-contrast);
        text-align: center;

        .separator {
            display: inline-block;
            height: 100%;
            width: 1px;
            background-color: var(--color-ambient-contrast);
            margin: 0 15px;
            top: 7px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        padding: 0 calc((100% - 900px) / 2 - $liteadmin-feature-gap);
        justify-content: space-between;
        max-width: #{300px * 3 + $liteadmin-feature-gap * 2};

        li {
            width: 300px;
            height: 200px;
            margin-bottom: $liteadmin-feature-gap;
            box-shadow: 20px 20px 40px #D9D9D9, -20px -20px 40px #FFFFFF;

            a {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-decoration: none;
                color: var(--color-ambient-contrast);
                font-size: 24px;
                line-height: 40px;
                font-weight: $font-weight-light;

                img {
                    display: block;
                    height: 60px;
                    margin: 0;
                    margin-bottom: 30px;
                    line-height: 60px;

                    &::before {
                        content: "> Try it";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        margin: 0 auto;
                        background-color: var(--color-ambient);
                        color: var(--color-ambient-contrast);
                        line-height: 60px;
                        font-size: 18px;
                        text-align: center;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    p {
        text-align: center;
        font-weight: $font-weight-light;
        font-size: 24px;
        line-height: 40px;
    }
    .play {
        background-color: var(--color-ambient-contrast);
        display: flex;
        text-decoration: none;
        padding: 5px 25px;

        img {
            display: block;
            height: 20px;
            margin-top: 10px;
            margin-right: 10px;
        }
        span {
            color: var(--color-ambient);
            line-height: 40px;
            font-size: 24px;
            font-weight: $font-weight-light;
        }
    }

    @media (max-width: $mobile-width) {
        h1 {
            .separator {
                display: none;
            }
            span {
                display: block;
                font-size: 18px;

                &.title {
                    font-size: 24px;
                }
            }
        }
        ul {
            display: block;

            li {
                height: 70px;
                margin-bottom: 30px;
                box-shadow: 5px 5px 10px #D9D9D9, -5px -5px 10px #FFFFFF;

                a {
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    padding-left: 20px;

                    img {
                        height: 30px;
                        margin: 0;
                    }
                    span {
                        font-weight: var(--font-weight-thin);
                        display: block;
                        font-size: 18px;
                        line-height: 30px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
