/**
    Here goes all values that will not change at runtime
*/

$mobile-width: 600px;
$giant-width: 1300px;

$header-height: 50px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$diagonal-clip-path: 90%;
$liteadmin-feature-gap: 60px;

$color-dark-red: rgb(150, 0, 0);
$color-dark: rgb(40, 40, 40);
$color-dark-contrast: #fff;
