* {
    box-sizing: border-box;
    position: relative;
}
html, body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    width: 100%;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
