:root {
    --background-color: #fff;
    --background-color-contrast: #000;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --color-dark-red: rgb(150, 0, 0);
    --color-dark: rgb(40, 40, 40);

    --diagonal-clip-path: 90%;
}