/**
    Here goes all values that might change at runtime
*/

:root {
    --color-ambient: #fff;
    --color-ambient-contrast: #000;

    --color-dark-red: rgb(150, 0, 0);
    --color-dark: rgb(40, 40, 40);
    --color-dark-contrast: #fff;
}