:root {
    --background-color: #fff;
    --background-color-contrast: #000;

    --font-weight-thin: 200;
    --font-weight-light: 300;

    --color-dark-red: rgb(150, 0, 0);
    --color-dark: rgb(40, 40, 40);
}